body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 60px;
    background-color: #009dd7;
    text-align: center;
}

.logo {
    background-image: url('../../img/logo.png');
    background-repeat: no-repeat;
    background-size:  126px 42px;
    width: 126px;
    height: 42px;
    display: inline-block;
    vertical-align: middle;
    margin: 9px 0;
}